<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Copyright (c) 2016 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.polarsys.kitalpha.pdt.internal.modeler.Activator"
            id="org.polarsys.kitalpha.pdt.modeler.design"
            name="PDT Eclipse Modeler">
      </component>
   </extension>
   
   
    
</plugin>
